{% extends "base.html" %}
{% load i18n wagtailcore_tags %}

{% load wagtailcore_tags wagtailimages_tags blogapp_tags %}

{% block content %}
    {% image page.header_image original as header_image %}
    <img src="{{ header_image.url }}" class="img-fluid">

    <h1>{{ page.title }}</h1>
    {% if page %}
      {% for translation in page.get_translations.live %}
          {% get_language_info for translation.locale.language_code as lang %}
          <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
              {{ lang.name_local }}
          </a>
      {% endfor %}
    {% endif %}

    <p>
      {% post_categories_list %}
    </p>

    {# body #}
    {% include "blog/components/streamfield.html" %}

    <hr>

    {% post_tags_list %}
    <hr>

{% endblock %}